facebook_publish.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1104,
        80
      ],
      "id": "e7b66861-f26d-4691-bf5d-2d9d3a0cd2d5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        80
      ],
      "id": "0b4e6165-dd66-4537-a7d3-4672151e53e3",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "Enter your telegram Chat ID ",
        "message": "={{ $json.title }}\n{{ $json.link }}\n{{ $json.pubDate }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "ab69343c-a0b6-4d31-84d2-f2505b433ac2",
      "name": "Send message and wait for response1",
      "webhookId": "c39dc297-164b-4857-ac08-7138c845a6c8",
      "credentials": {
        "telegramApi": {
          "id": "aza7Q5AOgTl4UOtY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        80
      ],
      "id": "3fe0c578-4791-494e-8237-5000aea22831",
      "name": "Merge3"
    },
    {
      "parameters": {
        "maxItems": 15
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -448,
        80
      ],
      "id": "e0242c7a-f85d-407f-979f-f11427ba8d1b",
      "name": "Limit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7f2b3c67-0395-4882-8f2e-82bd07936c01",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        432,
        80
      ],
      "id": "7f0710ea-88e3-4587-b1a7-b74c854b32c1",
      "name": "Filter",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 1000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        48
      ],
      "id": "0a164e62-3530-4fc6-91ac-c7aa6512c028",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://myanimelist.net/rss.php?type=news",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -784,
        80
      ],
      "id": "bb547d0a-4687-489c-97a8-80a634d53120",
      "name": "RSS Read1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "image_url",
              "cssSelector": "meta[property=\"og:image\"]",
              "returnValue": "attribute",
              "attribute": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        848,
        80
      ],
      "id": "6d644de2-cd87-41c0-bb60-28a1ae3397ea",
      "name": "HTML1"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "105635634549794",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "link",
                "value": "={{ $json.image_url }}"
              },
              {
                "name": "message",
                "value": "={{ $('Filter').item.json.title }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        352,
        336
      ],
      "id": "d29dc59f-0295-4477-81f4-3009410e171a",
      "name": "Facebook Graph API1",
      "executeOnce": true,
      "credentials": {
        "facebookGraphApi": {
          "id": "xa6XYzYpxdLtGs8U",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1056,
        80
      ],
      "id": "422ffdad-804f-4b87-84fa-6fb63cd9d826",
      "name": "Merge4"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Send message and wait for response1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Send message and wait for response1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Facebook Graph API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "975a8fb2-5622-419b-aece-b88f68d7f3b4",
  "meta": {
    "instanceId": "0cba4b169bd13cca50b7c588f88792e55016dfdad0bd0e972d49a9b320b1d680"
  },
  "id": "HsYSTEY70zAHzIbM",
  "tags": []
}